<!doctype html>
<html lang="fr">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='scripts/tailwindcss.js')}}"></script>
    <title>{% block title %}{% endblock %} - Theytube</title>
    {% endblock %}
</head>

<body class="min-h-screen bg-gray-100 text-gray-800 flex flex-col justify-between">
    {% include "models/navbar.j2" %}
    <div id="content" class="flex-grow">
        {% block content %}{% endblock %}
    </div>

    <footer id="footer" class="text-center py-4 bg-gray-200 text-sm text-gray-600">
        {% block footer %}
        &copy; Copyright 2010 by Wishrito.
        {% endblock %}
    </footer>
</body>

</html>